<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @holiday.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @holiday.end_date %>
</p>

<%= link_to 'Back', subscriber_holidays_path(@subscriber) %>
