<h2>Edit my account</h2>
<%= render 'shared/subscriber_form', html_method: :put, form_url: registration_path(:subscriber)%>



<h3>Cancel my account</h3>

<p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
