<table>
  <thead>
    <tr>
      <th>Bread Type</th>
      <th>Collection Point</th>
      <th>Delivery Day</th>
      <th>Paid Until</th>
    </tr>
  </thead>

  <tbody>
    <% current_subscriber.subscriptions.try(:each) do |subscription| %>
      <tr>
        <td><%= subscription.bread_type.name %></td>
        <td><%= current_subscriber.collection_point.name %></td>
        <td><%= subscription.collection_day_name %></td>
        <td><%= subscription.paid_till %></td>
      </tr>
    <% end %>
  </tbody>
</table>

