<h1>New subscriber</h1>

<%= render 'shared/subscriber_form', html_method: :post, form_url: subscriber_path(@subscriber) %>

<%= link_to 'Show', @subscriber %> |
<%= link_to 'Back', subscribers_path %>
